# Sass
.sass-cache
*.scssc

# Editors
sftp-config.json
.vscode

# Jekyll
_site
.jekyll-metadata
/.bundle
/vendor
.jekyll-cache

# Compiled Files
/assets/css/**/*.css
/assets/js/*.js

# Node.js
node_modules/

# Logfiles and tempfiles
*.log
/log/*
!/log/.keep
/tmp

# Other unneeded files
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
.history/
Gemfile
Gemfile.lock

.env