/*===============================
=            Buttons            =
===============================*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"]
{
	color: $color__text-button;
	@include fontSize(13px);
	font-family: $font__MuseoSans;
	font-weight: 300;
	border-radius: 2px;
	border: 0px;
	text-transform: uppercase;
	@include transition(all .3s);
	padding: 8px 18px;
	display: inline-block;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 1px;

    &:hover {
    	cursor: pointer;
    }

    &.btn-recent {
        padding: 6px 9px 4px;
    }

    &.btn-blue {
    	background-color: $blue-accent;

    	&:hover, &:active, &:focus {
    		background-color: $darkest-blue;
    	}
    }

    &.btn-orange {
        background-color: $base-orange;
        color: $white;
        font-weight: 500;
        letter-spacing: .5px;

        &:hover, &:active, &:focus {
            background-color: darken($base-orange, 10%);
        }
    }

    &.btn-gray {
    	background-color: $light-gray;
    	color: $base-blue;
    	font-weight: 500;

    	&:hover, &:active, &:focus {
    		background-color: $base-orange;
    		color: $white;
    	}
    }
}
