<div class="backToTop-container">
  <div class="backToTop-arrow"></div>
  <span>Top</span>
</div>

<footer class="site-footer">

  <div class="footer-mainContainer">
    <div class="content-wrapper">

      <div class="row around-md">
        <div class="footer-logoContainer col-xs-12 col-md-4">
          <a href="https://www.csis.org" target="_blank"><img src="{{ "/assets/img/csis-logo.svg" | relative_url }}" alt="Center for Strategic and International Studies" title="Center for Strategic and International Studies" /></a>
          <p>The CSIS Chair in U.S.-India Policy Studies aims to unlock the full potential of the U.S.-India relationship and leads the Center's work on India. The Chair serves as an independent platform to pursue policy changes that strengthen bilateral ties, placing special emphasis on accelerating economic development in India and promoting greater business and economic engagement between the two countries.</p>
          <address>
            1616 Rhode Island Avenue, NW<br />
            Washington, DC 20036
          </address>
          <p>To share your insights or ask questions about <em>Engaging Indian States</em>, email us at <a href="mailto:{{ site.email }}?subject=Engaging%20Indian%20States">{{ site.email }}</a>.</p>
        </div>
        <div class="col-xs-12 col-md-4 footer-tweetsContainer">
          <h3 class="footer-title">Latest Tweets</h3>
          <p>Continue the conversation online with #StatesEngaged</p>
          <a class="twitter-timeline" data-theme="dark" data-link-color="#98B0BC" data-height="250" data-chrome="noheader nofooter noborders transparent"  href="https://twitter.com/IndiaStatesCSIS">Tweets by IndiaStatesCSIS</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-xs-12 col-md-4">
          <h3 class="footer-title socialMedia">Follow Us</h3>
          <a href="https://www.facebook.com/{{ site.facebook }}" target="_blank" rel="nofollow"><img src="{{ "/assets/img/facebook.svg" | relative_url }}" alt="Facebook" title="Facebook" class="footer-socialIcon" /></a> 
          <a href="http://twitter.com/{{ site.twitter.username }}" target="_blank" rel="nofollow"><img src="{{ "/assets/img/twitter.svg" | relative_url }}" alt="Twitter" title="Twitter" class="footer-socialIcon" /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyrightContainer">
    <div class="content-wrapper">
      &copy; {{ site.time | date: '%Y' }} by the Center for Strategic and International Studies. All rights reserved. | <a href="https://www.csis.org/privacy-policy" target="_blank" rel="nofollow">Privacy Policy</a>
    </div>
  </div>

</footer>