<footer class="site-footer">

  <div class="footer-mainContainer">
    <div class="content-wrapper">

      <div class="row around-md">
        <div class="footer-logoContainer col-xs-12 col-md-4">
          <a href="https://csis.org" target="_blank"><img src="{{ "/assets/img/csis-logo.svg" | relative_url }}" alt="Center for Strategic and International Studies" title="Center for Strategic and International Studies" /></a>
          <p>The CSIS Wadhwani Chair in U.S.-India Policy Studies aims to unlock the full potential of the U.S.-India relationship and leads the Center's work on India. The Chair serves as an independent platform to pursue policy changes that strengthen bilateral ties, placing special emphasis on accelerating economic development in India and promoting greater business and economic engagement between the two countries.</p>
          <address>
            1616 Rhode Island Avenue, NW<br />
            Washington, DC 20008
          </address>
        </div>
        <div class="col-xs-12 col-md-4 footer-tweetsContainer">
          <h3 class="footer-title">Latest Tweets</h3>
          <p>Continue the conversation online with #StatesEngaged</p>
          <a class="twitter-timeline" data-theme="dark" data-link-color="#98B0BC" data-height="250" data-chrome="noheader nofooter noborders transparent" href="https://twitter.com/IndiaStatesCSIS">Tweets by IndiaStatesCSIS</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-xs-12 col-md-4">
          <h3 class="footer-title">Newsletter</h3>
          <p><a href="">Newsletter One &mdash;</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href=""><button class="btn-blue">Sign Up</button></a>

          <h3 class="footer-title socialMedia">Follow Us</h3>
          <a href=""><img src="{{ "/assets/img/facebook.svg" | relative_url }}" alt="Facebook" title="Facebook" class="footer-socialIcon" /></a> 
          <a href=""><img src="{{ "/assets/img/twitter.svg" | relative_url }}" alt="Twitter" title="Twitter" class="footer-socialIcon" /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyrightContainer">
    <div class="content-wrapper">
      &copy; 2017 by the Center for Strategic and International Studies. All rights reserved.
    </div>
  </div>

</footer>

<script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
<script src="{{ "/assets/js/homepage.js" | relative_url }}"></script>
<script src="{{ "/assets/js/breadcrumbs.js" | relative_url }}"></script>
<script src="{{ "/assets/js/smooth-scroll.js" | relative_url }}"></script>
<script src="{{ "/assets/js/post-listing.js" | relative_url }}"></script>
<script src="{{ "/assets/js/sticky-menu.js" | relative_url }}"></script>
<script src="{{ "/assets/js/show-more-meta.js" | relative_url }}"></script>
<script src="{{ "/assets/js/share-icons.js" | relative_url }}"></script>
<script src="{{ "/assets/js/navigation.js" | relative_url }}"></script>
<script src="{{ "/assets/js/state-landing.js" | relative_url }}"></script>
<script src="{{ "/assets/js/pagination.js" | relative_url }}"></script>
<!-- IE < 10 support -->
<!--[if lte IE 9]>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<![endif]-->
<script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
<script src="{{ "/assets/js/searchpage.js" | relative_url }}"></script>