
<div class="row">
  <div class="col-xs-12 col-md-6">
    State Names Here
  </div>
  <div class="col-xs-12 col-md-6">
    <div id="container" style="height:600px">
      <div class="loading">
        <i class="icon-spinner icon-spin icon-large"></i>
        Loading data from Google Spreadsheets...
      </div>
    </div>
  </div>
</div>

<script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
$(function () {

// Initiate the chart
            $('#container').highcharts('Map', {
                 tooltip: {
                     formatter: function(){
                         var s = this.key + '<br/>';
                         s += 'Value:' + this.point.value + '<br/>';
                         return s;
                     },
                 },
                
                
                chart : {
                    borderWidth : 0,
                },

                colors: ['rgba(19,64,117,0.05)', 'rgba(19,64,117,0.2)', 'rgba(19,64,117,0.4)',
                    'rgba(19,64,117,0.5)', 'rgba(19,64,117,0.6)', 'rgba(19,64,117,0.8)', 'rgba(19,64,117,1)'],

                title : {
                    text : null
                },

                legend: {
                    title: {
                        text: 'Legend Title',
                    },
                    align: 'right',
                    verticalAlign: 'bottom',
                    floating: true,
                    layout: 'vertical',
                    valueDecimals: 0,
                    symbolRadius: 0,
                    symbolHeight: 14
                },

                series : [{
                    data : [{"name":"Andhra_Pradesh","value":100}],
                    mapData: {{ site.data.hc-map | jsonify }},
                    joinBy: ['name','name'],
                    animation: true,
                    name: 'Diyaliz Verileri',
                    nullColor: '#DDDDDD',
                    borderColor: '#fff',
                    states: {
                        hover: {
                            color: '#E87415'
                        }
                    }
                }]
            });

});
</script>