{% assign dataset = site.data[site.national_goals_data_dir][include.dataset] %}
{% assign listLimit = dataset.size | divided_by: 2 %}
{% assign maximum = 0 %}
{% assign minimum = 0 %}

<div class="goal-interactiveContainer row">
  <div class="col-xs-6 col-md-3">
    <ul class="map-statesList">
      {% for row in dataset limit: listLimit %}
        <li data-map-id="{{ row.state | replace: ' ', '_' | downcase }}" data-map-index="{% increment currentRow %}">
          {{ row.state | escape }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-xs-6 col-md-3">
    <ul class="map-statesList">
      {% for row in dataset offset: listLimit %}
        <li data-map-id="{{ row.state | replace: ' ', '_' | downcase }}" data-map-index="{% increment currentRow %}">
          {{ row.state | escape }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-xs-12 col-md-6">
    <div id="map-container" style="height:600px">
      <div class="loading">
        <i class="icon-spinner icon-spin icon-large"></i>
        Loading map...
      </div>
    </div>
  </div>
</div>

<script>
$(function () {
  // Data Array
  var mapData = [
    {% for row in dataset %}
      {
        "nameNormal": "{{ row.state }}",
        "id": "{{ row.state | replace: ' ', '_' }}",
        "value": {% if row.national_contribution %}"{{ row.national_contribution }}"{% else %}null{% endif %}
      }{% unless forloop.last %},{% endunless %}
      {% assign rowValue = row.national_contribution | plus: 0 %}
      {% if rowValue > maximum %}{% assign maximum = rowValue %}{% endif %}
      {% if rowValue < minimum %}{% assign minimum = rowValue %}{% endif %}
    {% endfor %}
  ];

  // Initiate the chart
  var chartOptions = {
    chart: {
      borderWidth : 0,
      spacing: [0, 0, 15, 0],
      style: {
        fontFamily: "\"museo-sans\",sans-serif"
      }
    },
    title: {
      text: null
    },
    credits: {
      enabled: false
    },
    legend: {
      title: {
        text: '{{ page.map.legend_title }}',
      },
      align: 'right',
      verticalAlign: 'bottom',
      floating: false,
      layout: 'horizontal',
      symbolRadius: 0,
      symbolHeight: 14,
      itemStyle: {
        textOverflow: 'none'
      }
    },
    colorAxis: {
      minColor: '#ffdec3',
      maxColor: '#E87415',
      gridLineColor: '#fff',
      type: 'linear',
      min: {{ minimum }},
      max: {{ maximum }},
      labels: {
        format: "{value}{{ page.map.value_suffix }}",
        overflow: undefined
      }
    },
    series: [{
      data: mapData,
      mapData: {{ site.data.hc-map | jsonify }},
      joinBy: ['name','id'],
      animation: true,
      name: 'States',
      nullColor: '#DDDDDD',
      borderColor: 'transparent',
      states: {
        hover: {
          color: '#E87415'
        }
      },
      point: {
        events: {
          mouseOver: function(e) {
            $(".map-statesList li").removeClass("active");
            $(".map-statesList li[data-map-index="+this.index+"]").addClass("active");
          },
          mouseOut: function(e) {
            $(".map-statesList li[data-map-index="+this.index+"]").removeClass("active");
          }
        }
      }
    }],
    tooltip: {
      formatter: function(){
        var s = "<strong>"+this.point.nameNormal + '</strong><br/>';
        if(this.point.value) {
          s += 'Value: ' + this.point.value + '{{ page.map.value_suffix }}<br/>';
        }
        else {
          s += '<em>No data currently available.</em>';
        }
        return s;
      },
    }
  };
  var chart = Highcharts.Map('map-container', chartOptions);
  // Hover over State Name to Highlight on Map
  $( ".map-statesList li" ).hover(
    function(e) {
      var mapIndex = $(this).data('map-index');
      chart.series[0].data[mapIndex].setState('hover');
      chart.tooltip.refresh(chart.series[0].data[mapIndex]);
    }, function() {
      var mapIndex = $(this).data('map-index');
      chart.series[0].data[mapIndex].setState();
      chart.tooltip.hide('fast');
    }
  );
});
</script>