<article id="{{ post.title | escape | slugify }}" class="post-articleContainer row">
	<!-- Article Title & Content -->
	<div class="post-articleContent col-xs-12 col-md-9">
		{% if post.is_analysis %}	
		<h4 class="articleTitle"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
		{% else %}
			<h4 class="articleTitle">{{ post.title | escape }}</h4>
		{% endif %}
		{% if post.is_analysis %}
			<span class="articleMeta">By <span class="articleAuthor">{{ post.author | join: ", " }}</span></span>
			<br />
		{% endif %}
		<span class="articleMeta">Posted on <span class="articleDate">{{ post.date | date: site.date_format }}</span></span>

		{% if post.is_analysis %}
			<div class="row analysis">
				<div class="analysis-image col-xs-12 col-md-3">
					<a href="{{ post.url | relative_url }}"><img src="{{ post.feature_image }}" alt="{{ post.title }}" title="{{ post.title }}" /></a>
				</div>
				<div class="col-xs-12 col-md-9">
					{{ post.excerpt }}
				</div>
			</div>
		{% else %}
			{{ post.excerpt }}
		{% endif %}

		<hr class="post-articleSourceBreak" />

		<!-- Article Sources & Details -->
		<div class="post-articleSourcesDetails">
		    {% if post.sources and post.sources[0] != null %}
		        {% if post.sources.size > 1 %}
		          Sources:
		        {% else %}
		          Source:
		        {% endif %}
		        {% for source in post.sources %}
		            <a href="{{ source.url }}" target="_blank">{{ source.name }}</a>{% if forloop.last == false %},{% endif %}
		        {% endfor %}
		        <br />
		    {% endif %}
		    {% if post.details and post.details[0] != null %}
				In Detail: 
				{% for detail in post.details %}
				    <a href="{{ detail.url }}" target="_blank">{{ detail.name }}</a>{% if forloop.last == false %},{% endif %}
				{% endfor %}
			{% endif %}

			{% include share-icons.html shareTitle=post.title shareLink=post.url individual="true" %}
		</div>
	</div>
	<!-- Article Meta -->
	<div class="post-articleMetaContainer listContent col-xs-12 col-md-3">
		{% include post-listing-metainfo.html %}
	</div>
</article>