<!-- Get the posts first, and then display them according to subsector -->
{% assign sectorPosts = include.posts | where_exp:"post","post.sectors contains include.sector" %}
{% assign subsectors = site.subsectors | where_exp:"subsector","subsector.sector == include.sector" %}

<!-- Archive Link -->
{% capture archiveLink %}{% if include.state %}states/{{ include.state | slugify }}/{{ include.sector | slugify }}{% else %}sectors/{{ include.sector | slugify }}{% endif %}{% endcapture %}

<!-- Display Subsector Filtering if we have articles in this sector -->
{% if sectorPosts %}
  <ul>
    <li><button class="subsector-link" data-show-subsector="{{ include.sector | slugify }}-all" data-sector="{{ include.sector | slugify }}">All</button></li>
    {% for subsector in subsectors %}
      <li><button class="subsector-link" data-show-subsector="{{ subsector.title | slugify }}" data-sector="{{ include.sector | slugify }}">{{ subsector.title }}</button></li>
    {% endfor %}
  </ul>
  
  <div class="post-listing" data-sector="{{ include.sector | slugify }}">
    <!-- Display Overall Top 5 Articles -->
    <div class="subsectorContainer active" data-subsector="{{ include.sector | slugify }}-all">
      All<br />
      {% for post in sectorPosts limit: site.sector_overview_post_limit %}
        {% include post-listing-post.html %}
      {% endfor %}
      <a class="button" href="{{ archiveLink | relative_url }}">See More</a>
    </div>

    <!-- Display Top 5 Articles Per Subsector -->
    {% for subsector in subsectors %}
    {% assign subsectorPosts = sectorPosts | where_exp:"post","post.subsectors contains subsector.title" %}
    {% assign subsectorSlug = subsector.title | slugify %}
    <div class="subsectorContainer hidden" data-subsector="{{ subsectorSlug }}">
      {{ subsector.title }}<br />
      {% for post in subsectorPosts limit: site.sector_overview_post_limit %}
        {% include post-listing-post.html %}
      {% endfor %}
      <a class="button" href="{{ archiveLink | relative_url }}#{{ subsectorSlug }}">See More</a>
    </div>
    {% endfor %}

  <!-- If there are no articles -->
  {% else %}
  <p>There are currently no related articles in this sector.</p>
  {% endif %}
</div>