<article id="{{ post.title | escape | slugify }}" class="post-articleContainer row">
	<!-- Article Title & Content -->
	<div class="post-articleContent col-xs-12 col-md-9">
		<h4 class="articleTitle"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
		{% if post.is_analysis %}
			<span class="articleMeta">By <span class="articleAuthor">{{ post.author | join: ", " }}</span></span>
			<br />
		{% endif %}
		<span class="articleMeta">Posted on <span class="articleDate">{{ post.date | date: site.date_format }}</span></span>

		{% if post.is_analysis %}
			<div class="row analysis">
				<div class="analysis-image col-xs-12 col-md-3">
					<a href="{{ post.url | relative_url }}"><img src="{{ post.feature_image }}" alt="{{ post.title }}" title="{{ post.title }}" /></a>
				</div>
				<div class="col-xs-12 col-md-9">
					{% capture readMore %} <span class="post-readMore"><a href="{{ post.url | relative_url }}">Read More &gt;</a>{% endcapture %}
					{{ post.excerpt | remove: '</p>' | append: readMore | add: '</p>' }}
				</div>
			</div>
		{% else %}
		{{ post.content | prepend: "<p>" | append: "</p>" }}
		{% endif %}

		<hr class="post-articleSourceBreak" />

		<!-- Article Sources & Details -->
		<div class="post-articleSourcesDetails">
		    {% if post.sources and post.sources[0] != null %}
		        {% if post.sources.size > 1 %}
		          Sources:
		        {% else %}
		          Source:
		        {% endif %}
		        {% for source in post.sources %}
		            <a href="{{ source.url }}" class="sourceLink" target="_blank">{{ source.name }}</a> <a class="externalLink" href="{{ source.url }}" target="_blank"><img src="{{ "/assets/img/external-link-icon.svg" | relative_url }}" title="{{ source.name }}" alt="Go to" /></a>{% if forloop.last == false %},{% endif %}
		        {% endfor %}
		        <br />
		    {% endif %}
		    {% if post.details and post.details[0] != null %}
				In Detail: 
				{% for detail in post.details %}
				    <a href="{{ detail.url }}" target="_blank">{{ detail.name }} <img src="{{ "/assets/img/external-link-icon.svg" | relative_url }}" title="{{ source.name }}" alt="Go to" /></a>{% if forloop.last == false %},{% endif %}
				{% endfor %}
			{% endif %}
			{% assign pageID = post.title | escape | slugify %}
			{% include share-icons.html shareTitle=post.title shareLink=post.url individual="true" pageID=pageID %}
		</div>
	</div>
	<!-- Article Meta -->
	<div class="post-articleMetaContainer listContent col-xs-12 col-md-3">
		{% include post-listing-metainfo.html %}
	</div>
</article>