<!-- Render Progress Bars -->
{% for row in site.data[include.name] %}
<div class="progress-container row flex-center__y">
  <div class="progress-stateContainer col-xs-12 col-md-3">
    <span class="progress-stateName">{{ row.state }}</span>
  </div>
  <div class="progress-barContainer col-xs-12 col-md-9">
    <div class="progress-wrap progress" data-progress-percent="{{ row.state_percentage }}">
      <div class="progress-bar progress">{{ row.state_percentage | append: '%' }}</div>
    </div>
    <div class="tip-content">
      <span>{{ row.state }}</span><br />
      Target: {{ row.state_target | append: include.data_label }}<br />
      Achieved: {{ row.state_achieved | append: include.data_label }}
    </div>
  </div>
</div>
{% endfor %}