<h4 class="sectionSubtitle">Related Posts</h4>

{% assign maxRelated = 4 %}
{% assign minCommonTags =  2 %}
{% assign maxRelatedCounter = 0 %}

{% for post in site.posts %}

  {% assign sameTagCount = 0 %}

  {% for tag in post.tags %}
    {% if post.url != page.url %}
      {% if page.tags contains tag %}
        {% assign sameTagCount = sameTagCount | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if sameTagCount >= minCommonTags %}
    <article>
      <h5 class="articleTitle">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a> 
        <span class="articleMeta">Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="articleDate">{{ page.date | date: site.date_format }}</time></span>
    </h5>
    </article>
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
      {% break %}
    {% endif %}
  {% endif %}

{% endfor %}