<section class="sectorSection-goalsContainer">
	<h4 class="sectionSubtitle">Related National Goals</h4>

	{% for goal in include.goals %}
		<p><a href="{{ goal.url | relative_url }}">{{ goal.title | escape }}</a> 

		{% if include.useStateText == "true" %}
			{% assign stateData = site.data[site.national_goals_data_dir][goal.data_source] | where:"state",include.state | first %}

			{% if stateData.state_achieved %}
				&mdash; {{ stateData.state }} {{ goal.state_text }} {{ stateData.state_achieved}} {{ goal.data_label }}
			{% else %}
				&mdash; <span class="goals-missingData">{{ goal.data_missing_message }} {{ stateData.state }}.</span>
			{% endif %}

		{% endif %}
		<span class="goal-lastUpdated">(updated {{ goal.last_updated_at | date: site.date_format }})</span></p>
	{% endfor %}
</section>
