<script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
<!-- IE < 10 support -->
<!--[if lte IE 9]>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<![endif]-->
<script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
<script src="{{ "/assets/js/searchpage.js" | relative_url }}"></script>
<script src="{{ "/assets/js/homepage.js" | relative_url }}"></script>
<script src="{{ "/assets/js/breadcrumbs.js" | relative_url }}"></script>
<script src="{{ "/assets/js/smooth-scroll.js" | relative_url }}"></script>
<script src="{{ "/assets/js/post-listing.js" | relative_url }}"></script>
<script src="{{ "/assets/js/sticky-menu.js" | relative_url }}"></script>
<script src="{{ "/assets/js/show-more-meta.js" | relative_url }}"></script>
<script src="{{ "/assets/js/share-icons.js" | relative_url }}"></script>
<script src="{{ "/assets/js/navigation.js" | relative_url }}"></script>
<script src="{{ "/assets/js/state-landing.js" | relative_url }}"></script>
<script src="{{ "/assets/js/pagination.js" | relative_url }}"></script>
<script src="{{ "/assets/js/national-goals.js" | relative_url }}"></script>