{% assign posts = site.posts | where_exp:"post","post.states contains include.state" %}

<div class="sort-attributes-container">
	<a href="#sort=date&amp;order=asc" class="sort-attribute">Date Ascending</a> &middot; 
	<a href="#sort=date&amp;order=desc" class="sort-attribute active">Date Descending</a> &middot; 
	<a href="#sort=sector&amp;order=asc" class="sort-attribute">Sector Ascending</a> &middot; 
	<a href="#sort=sector&amp;order=desc" class="sort-attribute">Sector Descending</a>
</div>
<div class="pagination-posts-container"></div>
<div class="pagination-container"></div>

<script type="text/javascript">
	// Load all posts JSON for this State / Section
	var postsPaginateMain = [
		{% for post in posts %}
			{% capture states %}[{% for state in post.states %}"{{state}}"{% unless forloop.last %},{% endunless %}{% endfor %}]{% endcapture %}
			{% capture sectors %}[{% for sector in post.sectors %}"{{sector}}"{% unless forloop.last %},{% endunless %}{% endfor %}]{% endcapture %}
			{
				"title": "{{ post.title }}",
				"states": {{states}},
				"sectors": {{sectors}},
				"subsectors": "{{ post.subsectors }}",
				"url": "{{ post.url | relative_url }}",
				"date": new Date("{{ post.date | date_to_xmlschema }}"),
				"excerpt": "{{ post.excerpt | replace: '"', '\"' | normalize_whitespace }}"
			}{% unless forloop.last %},{% endunless %}
		{% endfor %}
	];

	var postsPaginateSecondary = [];
	postsPaginateMain.forEach(function(post, pIndex) {
		post.sectors.forEach(function(sector, index){
			var newPost = {
				"title": post.title,
				"states": post.states,
				"sectors": post.sectors,
				"sector": sector,
				"subsectors": post.subsectors,
				"url": post.url,
				"date": post.date,
				"excerpt": post.excerpt
			};
	    	postsPaginateSecondary.push(newPost);
	    });
	});

	var posts_per_page = {{ site.post_archive_posts_per_page }};
</script>
<script src="{{ "/assets/js/pagination.js" | relative_url }}"></script>