/*==================================
=            About Page            =
==================================*/

.page-container {
	margin: 3rem 0;

	.page-header {
		margin: 0 0 1rem 0;

		.main-title {
			margin: 0;
		}
	}

	.team-container {
		.team-personContainer {
			text-align: center;
			margin: 1rem 0;

			img {
				max-width:200px;
				max-height:250px;
				margin: 0 auto 0.5rem;
			}

			.team-name {
				font-family: $font__MuseoSans;
				color: $base-blue;
			}

			.team-title {
				@include fontSize(15px);
			}
		}
	}
}
