/*=====================================
=            Archive Pages            =
=====================================*/

.archive-container {

	.archive-featureImage {
		display: none;

		@include breakpoint("medium") {
			display: block;
			width:100%;
			height: 300px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover; 
		}
	}
	
	.archive-header {
		background-color: $light-gray;
		padding: 0.2rem 0 1rem 0;

		ul.shareIcons {
			text-align: right;
		}

		.subtitle {
			margin: 1.5rem 0;
		}
	}
}
