/*======================================
=            National Goals            =
======================================*/

/*----------  Sector Overview Listing  ----------*/

.sectorSection-goalsContainer {
	background-color: $light-gray;
	padding: 2rem;

	.sectionSubtitle {
		color: $base-orange;
		margin: 0 0 0.5rem 0;
	}

	.goal-lastUpdated {
		color: $gray-text;
		@include fontSize(15px);
	}
}

/*----------  Landing Page  ----------*/
.goals-landingContainer {
	padding: 3rem 0;

	.goals-goalContainer {
		border-top: 2px solid #333333;
	    margin: 0 0 4rem 0;
	    padding-top: 1rem;
	    
		.goal-summary {
			@include breakpoint("medium") {
				padding-right: 3rem;
			}
		}

		.goalInfo-container {
			margin-top: 0;
		}
	}

}


/*----------  Individual Goal Page  ----------*/

.goal-container {
	
	.goal-header {
		background-color: $light-gray;
		padding: 0.2rem 0 1rem 0;

		ul.shareIcons {
			@include breakpoint("medium") {
				text-align: right;
			}
		}

		.subtitle {
			margin: 1.5rem 0;
			font-family: $font__MuseoSans;
		}

		.goal-nameContainer {
			@include breakpoint("medium") {
				padding-right: 3rem;
			}
		}
	}

	/*----------  Interactive  ----------*/
	.goal-interactiveContainer {
		padding: 3rem 0;
	}

	/*----------  Sources  ----------*/
	.goal-sourcesContainer {
		padding: 3rem 0;
		@include fontSize(14px);
		line-height: 1.4rem;
		font-family: $font__MuseoSans;

		hr {
			width: 15%;
			border-style: solid;
			border-color: $light-gray;
			margin: 0 0 0.8rem 0;
		}

		span {
			text-transform: uppercase;
		}

		img {
			max-width:10px;
		}
	}
	
}

/*----------  Progress Bars  ----------*/
.progress-container {
	.progress-stateContainer {
		@include breakpoint("large") {
			text-align: right;
		}

		.progress-stateName {
			@include fontSize(16px);
			font-family: $font__MuseoSans;
			line-height: 1.4;
			text-transform: uppercase;
			font-style: normal;
		}
	}
	.progress-barContainer {
		position: relative;

		.progress {
		  width: 100%;
		  height: 18px;
		  padding: 0.2rem 0.5rem;
		}
		.progress-wrap {
			background: $base-orange;
			margin: 0.5rem 0;
			overflow: hidden;
			position: relative;

			.progress-bar {
				background: $light-gray;
				left: 0;
				position: absolute;
				top: 0;
				color: $base-orange;
				font-family: $font__MuseoSans;
			}
		}

		.tip-content {
	        display:none;
	        padding:10px;
	        background: $white;
	        border:1px solid $dark-blue;
	        font-family: $font__MuseoSans;
	        @include fontSize(14px);
	        -webkit-box-shadow:2px 2px 5px $medium-gray;
	           -moz-box-shadow:2px 2px 5px $medium-gray;
	                box-shadow:2px 2px 5px $medium-gray;

	        span {
	        	font-weight:bold;
	        	text-decoration: underline;
	        	text-align: center;
	        }
	    }
	    
	    .progress-wrap:hover ~ .tip-content {
	        display: block;
	        position: fixed;
	        z-index: 10;
	    }
	}
}

/*----------  Goal Meta Information  ----------*/
.goalInfo-container {

	.sectionSubtitle {
		border-bottom: 2px solid $dark-gray;
		margin: 0;
	}

	ul.goalInfo-infoList {
		list-style-type: none;
	    margin: 0.5rem 0;
	    padding: 0;

	    li {
	    	font-family: $font__MuseoSans;
	    	@include fontSize(14px);
	    	color: $black;
	    	line-height: 1.4rem;
	    	font-style: italic;

	    	span.category {
	    		text-transform: uppercase;
	    		color: $gray-text;
	    		font-style: normal;
	    	}

	    	// Display border for some list items
	    	&.hasBorder {
	    		margin-bottom: 0.5rem;
	    		padding-bottom: 0.5rem;
	    		border-bottom: 1px dashed $medium-gray;
	    	}

	    	// Sector Text
	    	a.sector {
				text-transform: uppercase;
				font-weight: bold;
				font-style: normal;
				box-shadow: none;
			}
	    }

	}
}
