/*=========================================
=            State: Individual            =
=========================================*/

// State Information, Summary, & Map
.stateInfoContainer {
	padding-bottom: 2rem;

	.stateInfo {
		@include breakpoint("medium") {
			padding-right: 5rem;
		}
	}
	
	// State Summary
	.stateInfoContainer-stateSummaryContainer {
		margin-top: 3rem;

		.sectionSubtitle {
			border-bottom: 2px solid $dark-gray;
			margin: 0;
		}

		ul.stateInfoContainer-stateSummaryList {
			list-style-type: none;
		    -webkit-columns: 2;
		    -moz-columns: 2;
		    columns: 2;
		    margin: 0.5rem 0;
		    padding: 0;

		    li {
		    	font-family: $font__MuseoSans;
		    	@include fontSize(14px);
		    	color: $black;
		    	line-height: 1.4rem;
		    	font-style: italic;

		    	span.category {
		    		text-transform: uppercase;
		    		color: $gray-text;
		    		font-style: normal;
		    	}

		    	// Population Breakdown Items
		    	&.populationBreakdown {
		    		padding-left: 1.5rem;
		    	}

		    	// Display border for some list items
		    	&.hasBorder {
		    		margin-bottom: 0.5rem;
		    		padding-bottom: 0.5rem;
		    		border-bottom: 1px dashed $medium-gray;
		    	}
		    }

		}
	}
}

// Feature Images
.stateFeatureImageContainer {
	max-height: 300px;
	overflow: hidden;

	.col-xs-12, .col-md-6 {
		padding: 0;
	}

	img {
		width:100%;
		height: auto;
	}
}

.stateFeatureImageCaptions {
	float: right;
	border-left: 2px solid $base-orange;
	color: $gray-text;
	font-family: $font__ExpoSerif;
	@include fontSize(14px);
	line-height: 1.4rem;
	margin-top: 0.5rem;
	margin-bottom: 6rem;
	padding-left: 0.5rem;
}

// State Sector Articles

.stateArticlesContainer {
	padding-bottom: 2rem;


	.sectorSection {
		margin-top: 8rem;

		// Clear the Image Captions
		&:first-of-type {
			@include clearfix-after();
		}

		/*----------  Sector Title & Icon  ----------*/
		.subtitle {
			text-align: center;
			margin: 1.5rem 0;
		}

		.sectorSection-iconContainer {
			text-align: center;

			img {
				max-width: 50px;
				height: auto;
			}
		}

		/*----------  Sector Information  ----------*/
		.sectorSection-sectorInfoContainer {
			margin-bottom: 2rem;
		}

		.sectorSection-sectorInfo {
			border-right: 2px solid $light-gray;
			padding: 1rem 1.5rem 1rem 0;
		}

		.sectorSection-subsectorsList {
			padding: 1rem 0rem 1rem 1.5rem;

			.sectionSubtitle {
				margin: 0;
			}

			.sectorSection-subsectorsListSubsector {
				color: $gray-text;
				font-family: $font__MuseoSans;
				@include fontSize(17px);
				line-height: 2.3rem;
				@include box-shadow(0px, -2px, 0px, 0, $base-orange, true);

				&:hover {
					color: $base-blue;
					@include box-shadow(0px, -2px, 0px, 0, darken($base-orange,10%), true);
				}
			}
		}

		/*----------  Recent Articles  ----------*/
		.sectorSection-articlesContainer {

			.sectionTitle {
				border-bottom: 4px solid $base-blue;
				margin-bottom: 0.2rem;
				padding-bottom: 0.5rem;
			}

			button {
				vertical-align: text-bottom;
				margin-left: 0.5rem;
			}
		}
		
	}
}