/*===========================================
=            States Landing Page            =
===========================================*/

.statesLanding-container {
	
	.statesLanding-instructions {
		background-color: $light-gray;
		padding: 2em 0;

		p {
			margin-bottom: 0;
		}

		em {
			color: $base-orange;
		}
	}

	.statesLanding-mainContent {
		margin: 3rem;
		font-family: $font__MuseoSans;

		@include breakpoint("medium") {
			&.content-wrapper {
				margin: 3rem;
			}
		}

		ul.statesLanding-statesList {
			list-style-type: none;
			margin: 0;
			padding: 0;

		    li {
		    	margin-bottom: 0.8rem;

		    	a {
		    		color: $gray;
		    		box-shadow: none;

		    		&:hover, &:active, &.active {
		    			color: $base-orange;

		    			@include breakpoint("medium") {
			    			&:after {
			    				content: " \203A";
			    				
			    			}
			    		}
		    		}
		    	}
		    }
		}

		.statesLanding-map {
			padding-top: 1.5rem;

			@include breakpoint("medium") {
				padding-top: 0;
			}

			.active {
				fill: $base-orange;
				cursor: pointer;
			}

			.tooltip {
				padding:8px;
		        background-color: rgb(247,247,247);
		        border:1px solid $base-orange;
		        font-family: $font__MuseoSans;
		        opacity: 0.85;
		        border-radius:2px;
		        @include fontSize(12px);
		        -webkit-box-shadow:1px 1px 2px $medium-gray;
		        -moz-box-shadow:1px 1px 2px $medium-gray;
		        box-shadow:1px 1px 2px $medium-gray;
		        display:inline-block;
		        position:fixed;

		        span {
		        	font-weight:bold;
		        }
			}
		}
	}
}
