/*==============================
=            Mixins            =
==============================*/
// $browser-context: 16; // Default Browser Size
// @mixin font-size($pixels, $context: $browser-context) {
// 	font-size: ($pixels) + px;
//   	font-size: ($pixels/$context) + em;
// }

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Breakpoints
@mixin breakpoint($break) {
	@if $break == xlarge {
		@media screen and (min-width:1441px) { @content; }
	}
	@else if $break == large {
		@media screen and (min-width:1023px) { @content; }
	}
	@else if $break == medium {
		@media screen and (min-width: 767px) { @content; }
	} @else {
		@media ($break) { @content; }
	}
}

// Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}