    /*=========================================
=            Print Stylesheets            =
=========================================*/
    
    @media print {
        *,
        *:before,
        *:after {
            background: transparent !important;
            color: #000 !important; // Black prints faster: h5bp.com/s
            box-shadow: none !important;
            text-shadow: none !important;
            filter: none !important;
            -ms-filter: none !important;
        }
        body {
        	padding: 0px !important;
            font-size: 12pt;
            margin: 25mm 25mm 25mm 25mm;

            &:before {
            	content: 'Engaging India States';
            	margin-bottom: 1cm;
            	font-size: 24pt;
            	display: block;
            }

            &:after {

            	content: 'Printed from Engaging India States, ©2017 by the Center for Strategic and International Studies. All rights reserved.';
            	margin-top: 1cm;
            	font-size: 12pt;
            }
        }
        .printable,
        .printable * {
            visibility: visible;
        }
        article.printable {
            position: absolute;
        }
        h2,
        h3 {
            page-break-after: avoid;
        }
        article {
          
        }
       
        img {
            page-break-inside: avoid;
        }

        h1.main-title {
        	font-size: 30px !important;
        }

        h1.main-title.analysis-title {
            font-size: 24px !important;

        }

        .site-header,
        .footer-mainContainer,
        .tableOfContent,
        .stateFeatureImageContainer,
        .stateFeatureImageCaptions,
        .pagination-sortBy,
        .shareIcons,
        .showMore,
        .archive-featureImage,
        .post-articleExtraMetaIndicator,
        .footer-copyrightContainer,
        button.btn-orange,
        .post-articleMetaContainer,
        .post-featureImage,
        .post-featureImageCredit,
        svg#map,
        .post-authorImage img,
        .post-articleSourcesDetails img,
        aside {
            display: none !important;
        }
        .stateMapContainer svg {
            max-width: 200px;
        }
        article a[href^=http].sourceLink:after {
            content: " <" attr(href) "> ";
        }
        .archive-header {
            margin-bottom: 0px;
        }
        .post-articleExtraMeta {
        	display: inline !important;
        }
        .subtitle {
        	font-size: 25px !important;
        }
        .post-content img {
        	max-width: 500px;
        	max-height: 400px;
        }
        .sectorSection-goalsContainer {
        	padding: 5px 0px !important;
        	margin: 0 !important;
        }
        .sectorSection-subsectorsList {
        	border: none;
        }



    }
