/*======================================
=            Resrouces Page            =
======================================*/

.page-container.resources {
	margin-top: 0;

	.sectionTitle {
		margin-bottom: 0.25rem;
		padding-bottom: 0.5rem;
		border-bottom: 4px solid #004165;
	}

	.articleMeta {
		margin-bottom: 0;
	}

	.articleSummary {
		margin: 1.125rem 0 3.75rem 0;
	}

	.post-content {
		margin: 3rem 0 5rem 0;
	}

}
