/*===================================
=            Share Icons            =
===================================*/

ul.shareIcons {
	list-style-type: none;
	padding: 0;
	margin: 0.2em;

	li {
		display: inline-block;
		margin-right: 0.2em;

		a {
			display:block;
			box-shadow: none;

			svg {
				width: 20px;
				height: auto;

				&:hover path {
					fill: $base-orange;
				}
			}
		}
	}
}
