---
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="home-body">

    {% include header.html %}

    <main class="home-content" aria-label="Content">
      <div class="home-orContainer"><div>or</div></div>
      <div class="home-splitContainer row">
        <section class="home-stateContainer col-xs-12 col-sm-6">
          <div class="home-contentWrapper">
            <!-- States -->
            <h2 class="main-title">States</h2>
            <p>Choose a state to gain 360-degree insight into its legislative priorities and economic growth. Use our collection of relevant news articles and primary text documents to identify where to find new opportunities for growth and collaboration within each state.</p>
            <div class="home-dropdownContainer">
              <button id="state-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select a state <span>&#9662;</span></button>
              <ul class="home-dropdownMenu" data-dropdown="state-dropdown" aria-labeledby="state-dropdown">
                {% include states-list.html %}
              </ul>
            </div>
            <a href="/states" class="home-viewAllLink"><button class="btn-orange">View All</button></a>
          </div>
        </section>
        <section class="home-sectorContainer col-xs-12 col-sm-6">
          <div class="home-contentWrapper">
            <!-- Sectors -->
            <h2 class="main-title">Sectors</h2>
            <p>Choose a sector or subsector to explore relevant actions being taken across India. Our expanding collection of news articles and primary text documents reveals state-level movements and policy changes that will boost or inhibit a sector’s growth.&nbsp;&nbsp;&nbsp;</p>
            <div class="home-dropdownContainer">
              <button id="sector-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select a sector <span>&#9662;</span></button>
              <ul class="home-dropdownMenu" data-dropdown="sector-dropdown" aria-labeledby="sector-dropdown">
                {% include sectors-list.html %}
            </div>
            <a href="/sectors" class="home-viewAllLink"><button class="btn-orange">View All</button></a>
          </div>
        </section>
      </div>
    </main>

    {% include footer-homepage.html %}

    {% include scripts.html %}

    {% include search-overlay.html %}

  </body>

</html>