---
layout: default
---

<div class="home">

  <h1 class="page-heading">Home Page</h1>
  
  {{ content }}

  <!-- States -->
  <h2>States</h2>
  <ul>
    {% for state in site.states %}
      <li>
        <a href='{{ state.id | prepend: site.github.url }}'>{{ state.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <!-- Sectors -->
  <h2>Sectors</h2>
  <ul>
    {% for sector in site.sectors %}
      <li>
        <a href='{{ sector.id | prepend: site.github.url }}'>{{ sector.title }}</a>

        <!-- START: List Subsectors -->
        {% for subsector in site.subsectors %}
          {% if subsector.sector == sector.title %}
            {% if forloop.first == true %}
              <ul>
            {% endif %}
                <li><a href='{{ sector.id | prepend: site.github.url }}#{{ subsector.title | slugify }}'>{{ subsector.title }}</a></li>
            {% if forloop.last == true %}
              </ul>
            {% endif %}
          {% endif %}
        {% endfor %}
        <!-- END: List Subsectors -->

      </li>
    {% endfor %}
  </ul>

  <!-- Posts: Remove this after development -->
  <h2>Posts</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
