---
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="home-body">

    {% include header.html %}

    <main class="home-content" aria-label="Content">
      <div class="home-orContainer"><div>or</div></div>
      <div class="home-splitContainer row">
        <section class="home-stateContainer col-xs-12 col-sm-6">
          <div class="home-contentWrapper">
            <!-- States -->
            <h2 class="main-title">States</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
            <div class="home-dropdownContainer">
              <button id="state-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select a state <span>&#9662;</span></button>
              <ul class="home-dropdownMenu" data-dropdown="state-dropdown" aria-labeledby="state-dropdown">
                {% include states-list.html %}
              </ul>
            </div>
            <a href="/states" class="home-viewAllLink"><button class="btn-orange">View All</button></a>
          </div>
        </section>
        <section class="home-sectorContainer col-xs-12 col-sm-6">
          <div class="home-contentWrapper">
            <!-- Sectors -->
            <h2 class="main-title">Sectors</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
            <div class="home-dropdownContainer">
              <button id="sector-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select a sector <span>&#9662;</span></button>
              <ul class="home-dropdownMenu" data-dropdown="sector-dropdown" aria-labeledby="sector-dropdown">
                {% include sectors-list.html %}
            </div>
            <a href="/sectors" class="home-viewAllLink"><button class="btn-orange">View All</button></a>
          </div>
        </section>
      </div>
    </main>

    {% include footer-homepage.html %}

    {% include search-overlay.html %}

    <script src="{{ "/assets/js/homepage.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/searchpage.js" | relative_url }}"></script>

  </body>

</html>