---
layout: default
---

{% assign goal = page.title %}

<section class="goal-container">
  <header class="goal-header">
    <div class="content-wrapper fullWidthContent">
      <!-- Share Icons -->
          {% include share-icons.html shareTitle=page.title shareLink=page.url individual="false" %}

      <h1 class="subtitle">
        {{ page.title | escape }}
      </h1>
      <div class="row">
        <div class="goal-nameContainer col-xs-12 col-md-9">
          {{ page.content }}
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="goalInfo-container">
            <h4 class="sectionSubtitle">Goal Summary</h4>
            <ul class="goalInfo-infoList">
              <li class="hasBorder">
                <span class="category">Sectors</span><br />
                {% for sector in page.sectors %}
                  <a href='{{ sector | slugify | prepend: "/sectors/" | relative_url }}' class="sector">{{ sector }}</a>
                  <!-- Subsectors for {{ sector }} -->
                  {% assign sectorSubsectors = site.subsectors | where:"sector", sector %}

                  {% capture goalSectorSubsectors %}
                  {% for subsector in sectorSubsectors %}
                    {% if subsector.sector == sector and page.subsectors contains subsector.title %}<a href='{{ sector | slugify | prepend: "/sectors/" | relative_url }}#{{ subsector.title | slugify }}' class="sectorSection-subsectorsListSubsector">{{ subsector.title }}</a>,{% endif %}
                  {% endfor %}
                  {% endcapture %}

                  {% assign subsectors = goalSectorSubsectors | split: "," %}
                  {% if subsectors.size > 1 %}
                    {{ subsectors | pop | join: "," | prepend: "&gt;" }}
                  {% endif %}
                    <br />
                {% endfor %}
              </li>
              <li>
                <span class="category">Last Updated</span><br />
                    {{ page.last_updated_at | date:site.date_format }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="goal-interactiveContainer">
    <div class="content-wrapper fullWidthContent">
      <h2 class="sectionTitle">National Target Contribution</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      {% include india-base-map.html dataset=page.data_name %}

      <h2 class="sectionTitle">Individual State Targets</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      {% include progress-bars.html name=page.data_name data_label=page.data_label %}
    </div>
  </section>

  {% if page.sources and page.sources[0] != null %}
  <section class="goal-sourcesContainer">
    <div class="content-wrapper fullWidthContent">
    <hr />
    
    <span class="articleMeta">Sources:</span><br />
      {% for source in page.sources %}
          <a href="{{ source.url }}" target="_blank">{{ source.name }} <img src="{{ "/assets/img/external-link-icon.svg" | relative_url }}" title="{{ source.name }}" alt="Go to" /></a><br />
      {% endfor %}
    </div>
  </section>
  {% endif %}

</section>
