---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.is_analysis %}{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}{% endif %}</p>

    <!-- States -->
    {% if page.states %}
      <strong>States:</strong> 
      {% for state in page.states %}
        {% if forloop.last == true %}
          <a href='{{ state | slugify | prepend: "/states/" | prepend: site.github.url }}'>{{ state }}</a>
        {% else %}
          <a href='{{ state | slugify | prepend: "/states/" | prepend: site.github.url }}'>{{ state }}</a>,
        {% endif %}
      {% endfor %}
      <br />
    {% endif %}

    <!-- Sectors -->
    {% if page.sectors %}
      <strong>Sectors:</strong> 
      {% for sector in page.sectors %}
        {% if forloop.last == true %}
          <a href='{{ sector | slugify | prepend: "/sectors/" | prepend: site.github.url }}'>{{ sector }}</a>
        {% else %}
          <a href='{{ sector | slugify | prepend: "/sectors/" | prepend: site.github.url }}'>{{ sector }}</a>,
        {% endif %}
      {% endfor %}
      <br />
    {% endif %}

    <!-- Subsectors -->
    {% if page.subsectors %}
      <strong>Subsectors:</strong> 
      {% for subsector in page.subsectors %}
        {% if forloop.last == true %}
          <a href='{{ subsector | slugify | prepend: "/subsectors/" | prepend: site.github.url }}'>{{ subsector }}</a>
        {% else %}
          <a href='{{ subsector | slugify | prepend: "/subsectors/" | prepend: site.github.url }}'>{{ subsector }}</a>,
        {% endif %}
      {% endfor %}
    {% endif %}

    <br />
    <!-- Tags -->
    Tags: {{ page | tags }}

  </header>

  <div class="post-content" itemprop="articleBody">
    <!-- Content -->
    {{ content }}


    <!-- Sources -->
    {% if page.sources and page.sources[0] != null %}
      <p class="post-meta">
        {% if page.sources.size > 1 %}
          Sources:
        {% else %}
          Source:
        {% endif %}

        {% for source in page.sources %}
          {% if forloop.last == true %}
            <a href="{{ source.url }}" target="_blank">{{ source.name }}</a>
          {% else %}
            <a href="{{ source.url }}" target="_blank">{{ source.name }}</a>,
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}

    <!-- Details -->
    {% if page.details and page.details[0] != null %}
      <p class="post-meta">Details: 
        {% for detail in page.details %}
          {% if forloop.last == true %}
            <a href="{{ detail.url }}" target="_blank">{{ detail.name }}</a>
          {% else %}
            <a href="{{ detail.url }}" target="_blank">{{ detail.name }}</a>,
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}

  </div>
</article>
