---
layout: default
---

<article class="post-individualContainer" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="content-wrapper fullWidthContent">

  <header class="post-header">
    {% if page.is_analysis %}<h2 class="sectionSubtitle">Analysis</h2>{% endif %}
    <h1 class="main-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <section class="post-content" itemprop="articleBody">
    <!-- Feature Image -->
    {% if page.is_analysis and page.feature_image.size > 0 %}
      <div class="post-featureImage">
        <img src="{{ page.feature_image }}" title="{{ page.feature_image_credit }}" alt="{{ page.feature_image_credit }}" />
        <span class="post-featureImageCredit"><em>Photo credit:</em> {{ page.feature_image_credit }}</span>
      </div>
    {% endif %}
    <div class="articleMeta">
      {% if page.is_analysis and page.author.size > 0 %}
        By 
        {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class="articleAuthor">{{ author }}</span></span>{% if forloop.last == false %},{% endif %}
        {% endfor %}
        <br />
      {% endif %}
      Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="articleDate">{{ page.date | date: site.date_format }}</time>
    </div>

    <!-- Content -->
    {{ content }}
  </section>

  <footer class="post-footer">
    {% if page.is_analysis and page.author.size > 0 %}
      {% for author in page.author %}
        {% assign authorInfo = site.authors | where:"title",author | first %}
        <section class="post-authorInfoContainer row" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <div class="post-authorImage col-xs-12 col-md-3">
            <img src="{{ authorInfo.image }}" />
          </div>
          <div class="post-authorInfo col-xs-12 col-md-9">
            <h3 class="post-authorName sectionSubtitle" itemprop="name">{{ author }}</h3>
            <span class="post-authorTitle articleMeta">{{ authorInfo.position }}</span>
            <p class="post-authorBio">{{ authorInfo.content }}</p>
          </div>
        </section>
      {% endfor %}
    {% endif %}

    <section class="post-articleMetaContainer row">
      <div class="listContent col-xs-12 col-md-4">
        {% include post-listing-metainfo.html post=page %}
      </div>
      <div class="col-xs-12 col-md-8">
        {% include related-posts.html %}
      </div>
    </section>
  </footer>

  </div>
</article>
