---
layout: default
---

<section class="page-container resources">
  <div class="content-wrapper fullWidthContent">
    <!-- Share Icons -->
    {% include share-icons.html shareTitle=page.title shareLink=page.url individual="false" %}

    {% assign resources = site.resources | group_by:"type" %}
    
    <div class="sectorSection-subsectorsList col-xs-12 col-md-6">
			<h4 class="sectionSubtitle">Resources</h4>
			{% for resource in resources %}
        {% if resource.name == resource.name %}
          <a href='{{ include.viewAllLink }}#{{ resource.name }}' class="sectorSection-subsectorsListSubsector">{{ resource.name }}</a>
          {% if forloop.last == false %}
          <span class="subsectorDot">&nbsp;&bull;&nbsp;</span>
          {% endif %}
        {% endif %}
      {% endfor %}
		</div>

    <div class="post-content">

      {% assign resources = site.resources | group_by:"type" %}

      {% for resource in resources %}
      <h2 id="{{resource.name}}" class="sectionTitle">{{ resource.name }}</h2>
        {% for item in resource.items %}
        <article id="{{ post.title | escape | slugify }}" class="post-articleContainer">
          <h3 class="articleTitle"><a href="{{ item.link }}" target="_blank" rel="nofollow">{{ item.title }}</a></h3>
          {% if item.author %}
            <p class="articleMeta">By <span class="articleAuthor">{{ item.author }}</span></p>
          {% endif %}
          {% if item.date %}
            <p class="articleMeta">Posted on <span class="articleDate">{{ item.date | date: site.date_format }}</span></p>
          {% endif %}
          <p class="articleSummary">{{ item.summary }}</p>
        </article>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
