---
layout: default
---

<section class="page-container">
  <div class="content-wrapper fullWidthContent">
    <!-- Share Icons -->
    {% include share-icons.html shareTitle=page.title shareLink=page.url individual="false" %}
    
    <article class="post-content">
      {% assign resources = site.resources | group_by:"type" %}

      {% for resource in resources %}
      <h2 class="sectionSubtitle">{{ resource.name }}</h2>
      <ul class="resource-listing">
        {% for item in resource.items %}
          <li><a href="{{ item.link }}" target="_blank" rel="nofollow">{{ item.title }} <img src="{{ "/assets/img/external-link-icon.svg" | relative_url }}" title="{{ item.title }}" alt="Go to" /></a></li>
        {% endfor %}
      </ul>
      {% endfor %}
    </article>
  </div>
</section>
