---
layout: default
---

<section class="page-container resources">
  <div class="content-wrapper fullWidthContent">
    <!-- Share Icons -->
    {% include share-icons.html shareTitle=page.title shareLink=page.url individual="false" %}
    
    <article class="post-content">
     <!-- 
      <h2 class="sectionTitle">National Goal Performance Trackers</h2>
      <p>Tracking the performance of Indian states on ambitious national goals through interactive visualizations.</p>
      <div class="resource-listing">
        {% for goal in site.national-goals %}
        <h3 class="articleTitle"><a href="{{ goal.url | relative_url }}">{{ goal.title | escape }}</a></h3>
        {% endfor %}
      </div>
            Share Icons -->

      {% assign resources = site.resources | group_by:"type" %}

      {% for resource in resources %}
      <h2 class="sectionTitle">{{ resource.name }}</h2>
      {% if resource.name == "Energy Personality Profiles" %}<p>Capturing the energy landscape of an Indian state by tackling ten critical avenues ranging from key drivers, energy efficiency initiatives, current generation mix, latest policy developments and key impressions for the evolution of the sector</p>{% endif %}

      <div class="resource-listing">
        {% for item in resource.items %}
        <article id="{{ post.title | escape | slugify }}" class="post-articleContainer">
          <h3 class="articleTitle"><a href="{{ item.link }}" target="_blank" rel="nofollow">{{ item.title }}</a></h3>
          {% if item.author %}
            <p class="articleMeta">By <span class="articleAuthor">{{ item.author }}</span></p>
          {% endif %}
          {% if item.date %}
            <p class="articleMeta">Posted on <span class="articleDate">{{ item.date | date: site.date_format }}</span></p>
          {% endif %}
          <p class="articleSummary">{{ item.summary }}</p>
        </article>
        {% endfor %}
      </div>

      {% endfor %}
    </article>
  </div>
</section>
