---
layout: default
---

<section class="search-container">
	<div class="row">

		<!-- Sidebar -->
		<div class="search-options col-xs-12 col-md-3">
			<div id="states" class="facet"></div>
			<div id="sectors" class="facet"></div>
			<div id="content_type" class="facet"></div>
			<div id="tags" class="facet"></div>
		</div>

		<!-- Search Results -->
		<div class="col-xs-12 col-md-9">
			<div class="content-wrapper fullWidthContent">
				<header class="search-header">
					<div id="search-input"></div>
					<div id="search-input-icon"></div>
				</header>

				<section class="search-results">
					<div id="sort-by-wrapper"><span id="sort-by"></span></div>
					<div id="stats"></div>
					<div id="hits"></div>
					<div id="pagination"></div>
				</section>
			</div>
		</div>
	</div>
</section>

<!-- TEMPLATES -->
<script type="text/html" id="hit-template">
	<div class="hit">
		<div class="hit-content">
			<h3 class="hit-type">
				{% raw %}
				{{{content_type}}}
				{% endraw %}
			</h3>
			<h2 class="articleTitle hit-name">
				<a href="{% raw %}{{{url}}}{% endraw %}">
					{% raw %}
					{{{_highlightResult.title.value}}}
					{% endraw %}
				</a>
			</h2>
			{% raw %}{{{ formattedDate }}}{% endraw %}
			<p class="hit-excerpt">
				{% raw %}
				{{{_snippetResult.excerpt.value}}}...
				{% endraw %}
			</p>
		</div>
	</div>
</script>

<script type="text/html" id="no-results-template">
	<div id="no-results-message">
		<p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
		<a href="." class='clear-all'>Clear search</a>
	</div>
</script>
<!-- /TEMPLATES -->

<!-- SCRIPTS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
<!-- /SCRIPTS -->