---
layout: default
---

{% if page.sector %}
  {% assign sector = page.sector %}
{% else %}
  {% assign sector = page.title %}
{% endif %}

<article class="post">

  <header class="post-header">
    <h1 class="post-title">
      {% if page.sector %}
        {{ page.sector | escape | append: ": " }}
      {% endif %}
      {{ page.title | escape }}
    </h1>
  </header>

  <div class="post-content">
    {{ content }}

    <p>All of the posts that have "{{ page.title }}" in their <code>sectors</code> or <code>subsectors</code> front matter will be listed below.</p>

    <!-- Post Listing, Filterable by Subsector -->
    {% include post-subsector-filtering.html posts=site.posts sector=sector %}

    <br /><br /><br /><br />
    <!-- Display trackers related to this sector -->
    <h2>Related Trackers</h2>
      {% for tracker in site.trackers %}
        {% if tracker.sectors contains page.title or tracker.subsectors contains page.title %}
            <h3>
              {{ tracker.title | escape }} <span class="post-meta">({{ tracker.start_date | date: "%B %-d, %Y" }} - {{ tracker.end_date | date: "%B %-d, %Y" }})</span>
            </h3>

            <!-- Generate Tracker Table -->
            {% capture trackerName %}{{tracker.data_name}}{% endcapture %}
            {% include tables-csv.html name=trackerName %} 

            <br />
        {% endif %}
      {% endfor %}

  </div>

</article>
