---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    {% for item in site[page.collection] %}
      <h2>
        <a href='{{ item.id | prepend: site.github.url }}'>{{ item.title }}</a>
      </h2>
      
      <!-- START: List Subsectors -->
      {% for subsector in site.subsectors %}
        {% if subsector.parent_sector == item.title %}
          {% if forloop.first == true %}
            <ul>
          {% endif %}
              <li><a href='{{ subsector.id | prepend: site.github.url }}'>{{ subsector.title }}</a></li>
          {% if forloop.last == true %}
            </ul>
          {% endif %}
        {% endif %}
      {% endfor %}
      <!-- END: List Subsectors -->

    {% endfor %}

  </div>

</article>
