---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    <p>All of the posts that have "{{ page.title }}" in their <code>sectors</code> front matter will be listed below.</p>

    <!-- List Subsectors -->
    {% if page.subsectors %}
      <h2>Subsectors</h2>
      <ul>
      	{% for subsector in page.subsectors %}
        	<li>{{ subsector}}</li>
      	{% endfor %}
      </ul>
    {% endif %}

    <!-- Display posts related to this sector -->
    <h2>Related News</h2>
    <ul class="post-list">
      {% for post in site.posts %}
        {% if post.sectors contains page.title %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <!-- Display trackers related to this sector -->
    <h2>Related Trackers</h2>
      {% for tracker in site.trackers %}
        {% if tracker.sectors contains page.title %}
            <h3>
              {{ tracker.title | escape }} <span class="post-meta">({{ tracker.start_date | date: "%b %-d, %Y" }} - {{ tracker.end_date | date: "%b %-d, %Y" }})</span>
            </h3>

            <!-- Generate Tracker Table -->
            {% capture trackerName %}{{tracker.data_name}}{% endcapture %}
            {% include tables-csv.html name=trackerName %} 

            <br />
        {% endif %}
      {% endfor %}

  </div>

</article>
