---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    {% for sector in site.sectors %}
      <h2>
        <a href='{{ sector.id | prepend: site.github.url }}'>{{ sector.title }}</a>
      </h2>

      <!-- Post Listing, Filterable by Subsector -->
      {% include post-subsector-filtering.html posts=site.posts sector=sector.title %}

    {% endfor %}

  </div>

</article>
