---
layout: default
---

<article class="post">

	<header class="post-header">
    	<h1 class="post-title">{{ page.state | escape }}: Archive</h1>
  	</header>

  	<div class="post-content">
  		<p>Test of the all posts archive system!</p>
		<!-- Get State Specific Posts -->
		{% assign statePosts = site.posts | where_exp:"post","post.states contains page.state" %}

		{% include post-listing.html posts=statePosts %}
	</div>
</article>

<pre id="log">Loading...</pre>

<script src="//unpkg.com/unfetch/dist/unfetch.umd.js"></script>
<script>
	unfetch('/posts.json', {
		method: 'GET',
		headers: { 'Content-Type': 'application/json' },
	})
	.then( r => r.json() )
	.then( data => {
		log(data);
	});



// for demo purposes
function log(t) {
	document.getElementById('log').textContent += '\n\n'+JSON.stringify(t,0,2);
}
</script>