---
layout: default
---

{% assign sector = site.sectors | where:'title',page.sector | first %}
<section class="archive-container">
	{% if sector.feature_image %}
    <div class="archive-featureImage" style="background-image:url('{{sector.feature_image}}'"></div>
  {% endif %}
	<header class="archive-header">
		<div class="content-wrapper fullWidthContent">
			<!-- Share Icons -->
      		{% include share-icons.html shareTitle=page.title shareLink=page.url individual="false" %}

			<h1 class="subtitle">{{ page.state | escape }} &gt; {{ page.sector | escape }}</h1>
			{{ sector.content }}
		</div>
	</header>

	<section>
		<div class="content-wrapper fullWidthContent">
			<section class="archive-relatedArticlesContainer">
				{% assign statePosts = site.posts | where_exp:"post","post.states contains page.state" %}

				{% include post-subsector-filtering.html posts=statePosts sector=page.sector state=page.state %}
			</section>
		</div>
	</section>
</section>