---
layout: default
---

{% assign state = site.states | where:'title',page.state | first %}
<section class="archive-container">
	{% if state.feature_images.primary.image %}
		<div class="archive-featureImage" style="background-image:url('{{state.feature_images.primary.image | prepend: site.cloudinary_url}}'"></div>
	{% endif %}
	<header class="archive-header">
		<div class="content-wrapper fullWidthContent">
			<!-- Share Icons -->
      		{% include share-icons.html shareTitle=page.title shareLink=page.url individual="false" %}

			<h1 class="subtitle">{{ page.state | escape }}</h1>
		</div>
	</header>

	<section>
		<div class="content-wrapper fullWidthContent">
			<section class="archive-relatedArticlesContainer">
				<!-- Get State Specific Posts -->
				{% assign statePosts = site.posts | where_exp:"post","post.states contains page.state" %}

				{% include state-archive-pagination.html state=page.state %}
			</section>
		</div>
	</section>
</section>