---
layout: default
---

{% assign sector = site.sectors | where:"title",page.sector %}
<section class="archive-container">
	<header class="archive-header">
		<div class="content-wrapper fullWidthContent">
			<!-- Share Icons -->
      		{% include share-icons.html shareTitle=page.title shareLink=page.url individual="false" %}

			<h1 class="subtitle">{{ page.state | escape }} &gt; {{ page.sector | escape }}</h1>
			{{ sector.content }}
		</div>
	</header>

	<section>
		<div class="content-wrapper fullWidthContent">
			<div>Filter by subsector</div>

			<section class="archive-relatedArticles">
				<h3 class="sectionTitle">Related Articles</h3>
				<div>Pagination Results</div>
				
				{% assign statePosts = site.posts | where_exp:"post","post.states contains page.state" %}

				{% include post-subsector-filtering.html posts=statePosts sector=page.sector state=page.state %}
			</section>
		</div>
	</section>
</section>