---
layout: default
---

<div class="row">

  <!-- Table of Contents -->
  {% include table-of-contents.html viewAll="true" stickyMenu="false" %}

  <!-- State Information -->
  <section class="stateInfoContainer col-xs-12 col-md-9">
    <div class="content-wrapper">

      <!-- Share Icons -->
      {% include share-icons.html shareTitle=page.title shareLink=page.url individual="false" %}

      <h1 class="main-title">{{ page.title | escape }}</h1>

      <div class="row">
        <div class="stateInfo col-xs-12 col-md-8">
          {{ content }}

          <div class="stateInfoContainer-stateSummaryContainer">
            <h4 class="sectionSubtitle">State Summary</h4>
            <ul class="stateInfoContainer-stateSummaryList">
              <li class="hasBorder">
                <span class="category">Size</span><br />
                    {{ page.size }}
              </li>
              <li class="hasBorder">
                <span class="category">Population</span><br />
                    {{ page.population }}
              </li>
              <li class="populationBreakdown hasBorder">
                <span class="category">Rural / Urban</span><br />
                    {{ page.population.rural }} / {{ page.population.urban }}
              </li>
              <li>
                <span class="category">State GDP</span><br />
                    {{ page.gdp }}
              </li>
              <li class="hasBorder">
                <span class="category">Party Affiliation</span><br />
                    {{ page.party_affiliation }}
              </li>
              <li class="hasBorder">
                <span class="category">Legislative Assembly Seats</span><br />
                    {{ page.legislative_seats }}
              </li>
              <li class="hasBorder">
                <span class="category">Rajya Sabha Seats</span><br />
                    {{ page.rajya_seats }}
              </li>
              <li>
                <span class="category">Lok Sabha Seats</span><br />
                    {{ page.lok_seats }}
              </li>
            </ul>
          </div>
        </div>
        <div class="stateMapContainer col-xs-12 col-md-4">
          {% assign stateSlug = page.title | slugify %}
          {% include map-svg.html state=stateSlug %}
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Feature Images -->
<div class="stateFeatureImageContainer row">
  <div class="col-xs-12 col-md-6">
    <img src="{{ page.feature_images.primary.image }}" />
  </div>
  <div class="hidden-xs col-md-6">
    <img src="{{ page.feature_images.secondary.image }}" />
  </div>
</div>

<div class="row">
  <!-- Table of Contents -->
  {% include table-of-contents.html viewAll="true" stickyMenu="true" %}

  <!-- State Articles -->
  <section class="sectorsArticlesContainer col-xs-12 col-md-9">
    <div class="content-wrapper">

      <div class="stateFeatureImageCaptions">
        <em>Left:</em> {{ page.feature_images.primary.credit }}<br />
        <em>Right:</em> {{ page.feature_images.secondary.credit }}<br />
      </div>

      <!-- Display Sectors -->
      {% for sector in site.sectors %}
        {% capture viewAllLink %}{{ page.url | relative_url }}{{ sector.title | slugify }}{% endcapture %}
        {% include sector-recent-articles.html viewAllLink = viewAllLink useStatePosts="true" %}
      {% endfor %}

      <!-- View All Link -->
      <a href="{{ page.url | relative_url }}archive"><button class="btn-orange">View All Articles &gt;</button></a>
    </div>
  </section>
</div>