/*==============================
=            Footer            =
==============================*/

footer.site-footer {
  
  .footer-mainContainer {
    background-image: url('img/map-footer.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-color: $base-blue;
    padding: 20px 0;
    @include box-shadow(0px,5px,4px,0, rgba(0,0,0,0.2), false);

    .footer-tweetsContainer {
      padding-top: 2rem;
      padding-bottom: 2rem;
      
      @include breakpoint("medium") {
        padding: 0 2rem;
      }
    }

    p {
      color: $light-blue;
      font-family: $font__ExpoSerif;
      @include fontSize(14px);
    }

    address {
      color: $white;
      font-family: $font__ExpoSerif;
      @include fontSize(14px);
      font-style: normal;
      line-height: 1.4;
    }

    .footer-title {
      color: $white;
      font-family: $font__MuseoSans;
      @include fontSize(20px);
      margin-top: 0;
      margin-bottom: 1rem;

      &.socialMedia {
        margin-top: 1rem;
      }
    }

    .footer-socialIcon {
      max-width: 30px;
      height: auto;
      margin-right: 10px;
    }

    a {
      color: $white;
    }
  }

  .footer-copyrightContainer {
    background-color: $darkest-blue;
    font-family: $font__ExpoSerif;
    @include fontSize(14px);
    color: $light-blue;
    padding: 5px 0;
  }
}
