/*========================================
=            Custom Variables            =
========================================*/

/*----------  Colors  ----------*/

$base-blue: #004165;
$base-blue-rgba: rgba(0, 65, 101, 1.0);
$base-orange: #E87415;
$base-orange-rgba: rgba(232,116,21,1.0);
$light-blue: #98B0BC;
$dark-blue: #205075;
$darkest-blue: #01273C;
$blue-accent: #255A84;
$light-gray: #F0F0F0;
$map-gray: #DDDDDD;
$medium-gray: #A8A8A8;
$dark-gray: #707079;
$gray-text: #797979;
$white: #ffffff;
$black: #000000;
$gray: #333333;


$color__homepage-map-blue: #205075;
$color__homepage-map-gray: #E5E5E5;
$color__homepage-footer-gray: #BFBFBF;
$color__background-body: $white;
$color__header-breadcrumbs: $darkest-blue;
$color__header-ss-nav-background: $blue-accent;
$color__header-ss-nav-font: $white;
$color__header-nav-font: $map-gray;
$color__header-breadcrumbs-font: $light-blue;
$color__text-button: $white;
$color__text-list-category: $gray-text;


$color__text-main: $gray;
$color__text-screen: $gray;

/*----------  Typography  ----------*/
$font__MuseoSans: "museo-sans",sans-serif;
$font__ExpoSerif: "expo-serif-pro",serif;
$font__main: $font__ExpoSerif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$header-img-height: 400px;